<button type="button" class="toggle-btn" (click)="sideShown = true">Filtros</button>
<div class="filters" [class.side-shown]="sideShown">
  <button type="button" class="close-side-btn" (click)="sideShown = false">x</button>
  <h5>Filtrar por categoría</h5>
  <form>
    <div class="category-filter filter-wrapper" *ngFor='let filter of categorias'>
      <label class="fake-checkbox">
        <input type="checkbox">
        <span class="square"><span class="fill"></span></span>
        <span class="label">{{filter.nombre}}</span>
        <span></span>
      </label>
    </div>
  </form>
  <h5>Filtros personalizados</h5>
  <form>
    <div class="custom-filter filter-wrapper" *ngFor='let filter of otrosFiltros'>
        <label class="fake-checkbox">
          <input type="radio" name="custom" [checked]='filter.checked' (click)='filtrosPersonalizados($event, filter, "custom")'>
          <span class="circle"><span class="fill"></span></span>
          <span class="label">{{filter.nombre}}</span>
          <span></span>
        </label>
    </div>
  </form>
</div>