<div class="main-container">
  <div class="container">

    <!-- IMG DATACREDITO EXPERIAN -->
    <div class="row; col-12">
      <div>
        <img class="img-banner" src="../assets/experian.png" alt="Imagen Experian">           
      </div>
    </div>

    <!-- MENU SUPERIOR -->
    <div class="col-12">
      <app-menu></app-menu>        
    </div>

    <div class="row">
      
      <!-- FILTROS LATERALES -->
      <div class="col-3">

        <div class="filters-wrapper">
          <app-filtros 
            #filtersComponent 
            [categorias]='originalData.categorias' 
            [otrosFiltros]='otrosFiltros'
          >
          </app-filtros>
        </div>

      </div>

      <!-- CONTENIDO CENTRAL -->
      <div class="col-8">

        <div class="row">
          <div class="col-7">
            <div class="sort-filters-wrapper">
              <app-filtro-corto [filters]='filtroCorto' (filtroCortoChange)='ordenarProductos($event)'></app-filtro-corto>
            </div>
          </div>
          <div class="col-4">
            <app-barra-busqueda></app-barra-busqueda>
          </div>
        </div>
        
        <div class="row; col-12">
          <div class="col-12">
            <app-productos [producto]='producto'></app-productos>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>