@import "../../styles/colors";
@import "../../styles/mixins";

:host {
  display: block;
  height: 210px;
}

.wrapper{
  border-radius: 5px;
  box-shadow: 0 5px 5px;
  position: relative;
  text-align: center;
  display: block;
  background-color: white;
  box-shadow: 0 6px 17px rgba(0,0,0,0.07);
}

.add-cart-wrapper, .view-details-wrapper{
  margin-top: 0;
  margin-bottom: 0;
}

.view-details-wrapper{
  position: relative;
  &:after{
    content: "";
    width: 1px;
    display: block;
    position: absolute;
    height: 28px;
    background-color: #5D4EF0;
    right: -3px;
    top: -4px;
    opacity: 0.2;
  }
}

.hide-detail-btn{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 20;
  background: none;
  border: none;
  color: white;
  opacity: 0.6;
  font-size: 0.7em;
  font-weight: 600;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  @include transition-fade-circ(0.5s);
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
  &:hover{
    background: rgba(255, 255, 255, 0.2);
  }
}

.img-wrapper{
  height: 85px;
  position: relative;
  overflow: hidden;

}

::-webkit-scrollbar {
  display: none;
}

.details{
  padding-bottom: 7px;
  hr{
    width: 90%;
    height: 0;
    border-top: 1px solid $primary-color;
  }
  button{
    background: none;
    border: none;
    cursor: pointer;
  }
  .view:hover, .cart:hover{
    opacity: 0.8;
  }
  .view{
    text-transform: uppercase;
    color: $primary-color;
    font-size: 0.85em;
    font-weight: 500;
    position: relative;
    top: -1px;
    left: -2px;
  }
  .cart{
    position: relative;
    top: 2px;
  }
  .not-available{
    hr{
      border-top: 1px solid #999999;
    }
    p{
      margin: 0;
      margin-top: -7px;
      position: relative;
      top: 2px;
      text-transform: uppercase;
      font-size: 0.85em;
      font-weight: 500;
      padding-top: 5px;
      padding-bottom: 3px;
    }
  }
}

.img-placeholder, .img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.img-placeholder{
  z-index: 3;
  height: 100%;
  background: #dddddd;
}

.detail-view{
  position: absolute;
  z-index: 30;
  border-radius: 5px;
  overflow: hidden;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;

  &.active{
    pointer-events: all;
    .hide-detail-btn{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    .info-wrapper{
      opacity: 1;
    }
    .bg{
      -webkit-transform: scale(232);
      transform: scale(232);
    }
    .d-holder{
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
      @include transition-fade(0.5s);
    }
    .d-title{
    -webkit-transition-delay: 0.8;
      transition-delay: 0.4s;
    }
    .d-description{
    -webkit-transition-delay: 0.8;
      transition-delay: 0.5s;
    }
    .d-description{
    -webkit-transition-delay: 0.8;
      transition-delay: 0.6s;
    }

  }
  .d-holder{
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    @include transition-fade(0.1s);
  }
  .d-title{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .d-description{
    margin-top: -7px;
    font-size: 0.9em;
  }
  .d-description{
    font-size: 0.9em;
    line-height: 1.4em;
  }
  .info-wrapper{
    position: relative;
    z-index: 30;
    color: white;
    text-align: left;
    padding-left: 14px;
    padding-right: 14px;
    height: 90%;
    overflow: scroll;
  }
  .bg{
    position: absolute;
    bottom: -9px;
    left: 43px;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    z-index: 20;
    background: $primary-color;
    @include transition-fade-circ(0.4s);
  }
}

.info{
  position: relative;
}

.unavailable{
  opacity: 0.3;
}

.img{
  z-index: 5;
  height: auto;
  background-color: #eeeeee;
}

.title{
  font-size: 1em;
  margin-top: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.description{
  margin-bottom: 10px;
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
}

.bestseller-badge{
  position: absolute;
  top: -10px;
  border-radius: 10px;
  background-color: #EF364C;
  color: white;
  font-size: 0.7em;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  z-index: 40;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  overflow: hidden;
  height: 20px;
  @include transition-fade-circ(0.35s);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.48);
  .txt, .star{
      @include transition-fade(0.35s);
  }
  .txt{
    position: relative;
    top: 4px;
  }
  .star{
    position: absolute;
    top: 2px;
    &.left{
      left: 8px;
    }
    &.right{
      right: 14px;
    }
  }
  &.in-detailed{
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    padding: 0;
    top: 9px;
    right: -80%;
    background-color: $primary-color;
    .right, .txt{
      opacity: 0;
    }
    .left{
      left: 5px;
      top: 2px;
    }
  }
}

.sad-face{
  border-radius: 50%;
  background-color: #aaaaaa;
  height: 90px;
  width: 90px;
}

.category-name{
  display: inline-block;
  margin-right: 10px;
}

.star{
  &:before{
    content: "\2605";
    position: absolute;
    color: white;
  }
}


/** Media queries **/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
    .detail-view.active .bg{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    .hide-detail-btn{
      height: 32px;
      -webkit-transform: translateY(32px);
      transform: translateY(32px);
    }
    .wrapper{
      margin-bottom: -22px;
    }
    .img-wrapper{
      height: 123px;
    }

    .detail-view{
      .bg{
        width: 100%;
        height: 100%;
        border-radius: 0;
        left: 0;
        bottom: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
      }
      .info-wrapper{
        padding: 10px 25px;
        height: 78%;
      }
    }
}