<div class="wrapper">

  <div class="info">
    <div class="img-wrapper">
      <img class="img" [src]='producto.url'>
      <div class="img-placeholder"></div>
    </div>
    <h5 class="title">Producto No. {{producto.id}}</h5>   
    <!-- <p class="price">Album <span>{{producto.albumId}}</span></p> -->
    <div class="details">
      <div class="available">
        <hr>
        <div class="row">
          <div class="col-12-sm view-details-wrapper">
            <button type="button" class="view" (click)='onProductClick()'>Ver detalles</button>
          </div>
        </div>
      </div>
    </div>

    <!--span class="category-name" *ngFor='let category of producto.categories'>{{category}}</span-->
    <div class="detail-view" [class.active]='verDetalle'>
      <div class="bg" [class.shown]='verDetalle'></div>
      <div class="info-wrapper">
        <p class="d-holder d-title">Album: {{producto.albumId}}</p>        
        <p class="d-holder d-description">{{producto.title}}</p>
      </div>
      <button type="button" class="hide-detail-btn" (click)='onProductClick()'>Ocultar</button>
    </div>

  </div>

</div>